.applied-filters-labels-wrap {
  position: relative;
  width: 90%;
  margin-left: 10%;
  margin-top: 10px;
  .filterLabel {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background: #f7f7f7;
    border-radius: 20px;
    font-size: 1.1em;
    cursor: pointer;
    &::after{
      content: "\00D7";
      margin-left: 4px;
      font-size: 1.3em;
      vertical-align: bottom;
    }
  }
  .clearFiltersBtn {
    position: absolute;
    left: -10%;
    bottom: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  .clearFiltersBtn::after {
    content: "|";
    display: block;
    position: absolute;
    right: -11px;
    font-size: 1.4em;
    top: -3px;
  }
}
