/* Hide the browser's default checkbox */
.refineCheckbox > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ddl-checkMark {
  position: absolute;
  top: 2px;
  left: -5px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: solid 1px;
}

/* When the checkbox is checked, add a black background */
.refineCheckbox > label input:checked ~ .ddl-checkMark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ddl-checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.refineCheckbox > label input:checked ~ .ddl-checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.refineCheckbox > label .ddl-checkMark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
