

.goBackBtn {
  padding: 0px 10px 10px 23px;
  background-color: $base-color;
  span{
    font-size: 1.1em;
  }

}

.goBackBtn::before {
  content: "\003C";
  margin-right: 10px;
  font-size: 1.4em;
  vertical-align: top;
}
