

.sidebarHeader {
  display: none;
}
.headerWrap {
  background-color: $base-color;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-top: 15px;

  h3 {
    float: none;
    text-align: center;
    border-top: 1px solid #000;
    line-height: 0.1em;
    margin: 20px 20px;
    

    span.bigCurly {
      float: none;
      font-size: 1.6em;
      line-height: 0px;
      background: $base-color;
      padding: 0 10px;
      font-weight: 300;
      font-size: 30px;
    }
  }
}
