@import "./options_headers";

.refineListItem.links .refineItemOptions .refineItem {
  padding: 7px 0px;
  a, strong {
    width: 88%;
    margin: 7px 14px;
  }
  &:hover {
    background-color: #f7f7f7;
  }
}

.refineItemOptions {
  @import "./custom_check_boxes";
  position: absolute;
  z-index: 101;
  background-color: white;
  width: 23.2%;
  padding: 5px;
  margin-top: 0px;
  max-height: 350px;
  overflow-y: auto;
  border: solid 1px lightgrey;
  display: none !important;
  &.ddl-open {
    display: block !important;
    height: auto !important;
    margin-top: 3px !important;
    border-color: #37393c;
    border-radius: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }
  &::-webkit-scrollbar {
    width: 6px;

    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 5px;
  }

  .filer-options-clear-all {
    text-align: end;
    padding: 7px 20px;
    span {
      cursor: pointer;
      font-size: small;
    }
  }

  .refineCheckbox {
    padding: 7px 15px;

    label {
      position: relative;
      margin-left: 12px;
      padding-left: 20px;
    }

    input {
      margin-right: 2px;
      position: absolute;
      top: 2.5px;
      left: -15px;
    }
  }
}

ul.refineItemOptions {
  width: 23.4%;
  top: 61px;
  left: 15px;
  transition: height 0s linear 0.3s;
  display: none !important;
}
