.refineListItem {
  border-top-color: $base-color;
  border-bottom-color: $base-color;
  &.brand {
    margin-left: 25%;
  }
  &.links.open {
    height: 0px;
  }
  .itemHeader {
    background-color: white;
    border: solid 1px #c2c2c2;
    padding: 10px;
    border-radius: 2px;
    &.ddl-filter-header-active {
      border-color: #37393c;
    }
    .refineListItemHeader {
      font-weight: 400 !important;
      &.ddl_bold {
        font-weight: bold !important;
      }
    }
    &.itemBack {
      display: none;
    }

    i {
      background-size: contain;
      vertical-align: middle;
      width: 9px;
      height: 15px;
      display: inline-block;
      position: absolute;
      top: 12.5px;
      right: 13px;
      opacity: 0.5;
      transform: rotate(90deg);
      svg {
        width: 9px;
        height: 15px;
      }
    }
    i.rotate {
      transform: rotate(90deg);
    }
    i.ddl-rotate {
      transform: rotate(-90deg);
      top: 11px !important;
    }
  }
  &.links .itemHeader {
    left: 15px;
    width: 21.17%;
    position: absolute;
    z-index: 101;
    top: 17px;
    display: block;

    &.itemBack {
      a {
        pointer-events: none;
      }
    }
    span {
      font-size: 0.65em;
      color: transparent;
      font-weight: 400 !important;

      &::after {
        content: "Product Type";
        font-size: 1.4em;
        text-transform: uppercase;
        position: absolute;
        width: 180px;
        top: 12px;
        left: 10px;
        color: black;
      }
    }
  }
}
