/*  rearrange page layout */
div.siteContainer.restrictedWidthContainer > div.listingContainer > div.ddl_section-outer {
  margin-bottom: 0px;
  .ddl_section-inner a {
    padding-bottom: 0px;
  }
}
.listingContainer {
  min-height: 1100px;
  .catContentWrapper {
    @import "./sort_and_item_count";
    @import "./sticky_filterbar";
    div.col.sidebar {
      width: 100%;
      display: block;
      width: 100%;
      float: none;
      padding-right: 0;

      position: static;
      top: -1px;
      z-index: 2;
    }
  }
}
