.ddl_productContainer .productGridItem {
  width: 221px;
}
.ddl_productContainer {
  display: flex;
  flex-wrap: wrap;

  .productGridItemInner {
    height: auto !important;
  }
  .productVariants {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.productGrid {
  height: 0px;

  .row {
    width: 0px !important;
    display: none !important;
  }
}

.loadMoreProductsContainer .loadMoreProducts {
  margin: 25px 0 16px 0;
}
