

.listingContainer div.catContentWrapper div.col.sidebar {
  @import "./options";
  .refine .refineFilters {
    overflow: visible;
  }
 

  form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    background-color: $base-color;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    div.refineListItem {
      float: none;
      width: 23.9%;
      padding: 5px;
    }
  }
}

