.contentHeader {
  border-top: none;
  border-bottom: none;
  .productGridActions {
    padding: 0px;
    .sort {
      width: 50%;
      float: right !important;
      display: flex;
      justify-content: flex-end;

      span {
        text-transform: uppercase;
        font-weight: 600;
      }

      .customSelect {
        width: 200px;
        margin-right: 15px;
        select.applySort {
          border-radius: 2px;
          border-color: #c2c2c2;
          text-transform: uppercase;
          * {
            text-transform: uppercase;
          }
        }
        .icon-down-dir {
          background: url("/public/fontello-svg/fontawesome-angle-right-white.svg")
            center 40%/20px no-repeat;
          filter: invert(1);
          background-size: contain;
          vertical-align: middle;
          width: 10px;
          height: 10px;
          display: inline-block;
          position: absolute;
          right: 10px;
          opacity: 0.3;
          transform: rotate(90deg);
        }
      }
    }
    .count {
      width: 10% !important;
      float: left;
    }
  }
}
