div.col.sidebar.wide-filter-bar {
  position: fixed;
  min-width: 1040px !important;
  width: 100%;
  float: none;
  left: 0;
  background: white;
  box-shadow: 0px 2px 2px lightgrey;
  height: 70px;
  padding: 0 10%;

  &.short-bar {
    padding: 0 13%;
    .refineListItem {
      .refineItemOptions {
        width: 24.2%;
      }
      &.links div.itemHeader {
        width: 213px;
        left: 110px;
      }
    }
    ul.refineItemOptions {
      left: 110px;
    }
    form {
      margin-left: 0px;
      padding-left: 350px;
    }
  }

  form {
    padding-bottom: 0px;
    min-width: 800px;
    margin-left: 165px;
  }

  .refineListItem {
    width: auto;
    flex-grow: 1;
    max-width: 25%;
    &.brand {
      margin-left: 0px;
    }
    &.links div.itemHeader {
      width: 132px;
      height: 20.67px;
      top: 16.23px;
      min-width: 120px;
      span::after {
        font-size: 12px;
        font-weight: 400;
        width: 120px !important;
      }
    }
  }
  .refineListItem:not(.links) .itemHeader {
    .refineListItemHeader {
      font-size: 0.8em !important;
    }

    i {
      top: 14px;
      right: 7px;
      svg {
        width: 7.5px;
        height: 13.5px;
      }
    }
  }
}
