.cb17_loaded {
  @import "./style/v1_variables";
  @import "./style/common";
  @import "./style/header";
  @import "./style/page-layaout"; /* remove sidebar and place filters on top */
  @import "./style/selects";
  @import "./style/products_grid";
  @import "./style/applied_filters_labels";
  @import "./style/go_back_btn";

  @media only screen and (max-width: 1280px) {
    .listingContainer .catContentWrapper div.col.sidebar.wide-filter-bar {
      padding: 0px 100px !important;
    }
  }
}
